{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Find Government Data changelog
      </h1>

      <p>
        Prototypes created during the alpha phase of Data Discovery's "Find Government Data"
      </p>
      <p>
        If you need the username and password to these, you'll need to get in touch with the team.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <br/><br/>

      <div class="release-container">

      {% for item in data.feed | reverse() %}
          <div class="release">
            <h1 class="heading-medium">
              <a href="{{item.url}}">{{item.link_name}}</a> {{ item.name }}
            </h1>
            <p class="font-small text-secondary">{{item.date}}</p>

            <details>
              <summary><span class="summary">Main changes</span></summary>
              <div>
                <table>
                  <thead>
                    <tr>
                      <th>Change</th>
                      <th>Why we made it</th>
                    </tr>
                  </thead>
                <tbody>
                  {% for reason in item.reasons %}
                <tr>
                  <td>{{ reason.what | safe() }}</td>
                  <td>{{ reason.why | safe() }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
              </div>
            </details>
        </div>
      {% endfor %}
      </div>

    </div>
  </div>

</main>

{% endblock %}


